{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
               
                <th>Nom_prenom</th>
                <th>Sexe</th>
                <th>Date_de_naissance</th>
                <th>Nationalite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                
                <td>{{ auteur.nomPrenom }}</td>
                <td>{{ auteur.sexe }}</td>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ auteur.nationalite }}</td>
                <td>
                    <a href="{{ path('auteur_show', {'id': auteur.id}) }}" class="btn btn-success mt-1 mb-1">show</a>
                    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-info mt-1 mb-1">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('auteur_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
